body{
    /* background-color:#f0f0ff; */
}

div{
    margin: 8%;
    text-align: center;
}

p{
    text-align: center;
    margin-top: -6%;
    margin-bottom: -5%;
    font-size: 20px;
}

span{
    margin-left: 3%;
    font-size: 70px;
    vertical-align:35%;
}

h1{
    margin: 0 auto;
    text-align: center;
}

#comptext{
    margin-top: 6%;
    margin-bottom: -6%;
}

#playtext{
    margin-top: -6%;
    margin-bottom: 6%;
}

button{
    height: 110px;
    width: 85px;
    margin: 3px;
    background-size: 100%;
}

#playRock, #compRock{
    background-image: url(rock.jpg);
}

#playPaper, #compPaper{
    background-image: url(paper.jpg);
}

#playScissor, #compScissor{
    background-image: url(scissor.jpg);
}

#playAgain{
    height: 30px;
    width: 100px;
    margin-left: 10px;
}