div{
    margin: 8%;
    text-align: center;
}

p{
    text-align: center;
    margin-top: -4%;
    margin-bottom: -4%;
    font-size: 20px;
}

span{
    margin-left: 3%;
    font-size: 60px;
    vertical-align: middle;
}

h1{
    margin: 0 auto;
    text-align: center;
}

#comptext{
    margin-top: 6%;
    margin-bottom: -6%;
}

#playtext{
    margin-top: -6%;
    margin-bottom: 6%;
}

button{
    height: 80px;
    width: 80px;
    margin: 3px;
}

#playAgain{
    height: 30px;
    width: 100px;
    margin-left: 10px;
}