@font-face {
    font-family: myFirstFont;
    src: url(fonts/Clip.ttf);
}

@font-face {
    font-family: display;
    src: url(fonts/TextMeOne-Regular.ttf);
}

body{
    background-color:#252424;
    background-image: url(https://i.pinimg.com/originals/a0/f8/4d/a0f84d1a26dc6a9c65662ed146757a5f.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}

#name{
    float: left;
    width: 10%;
    margin-top: 10.5%;
    padding-left: 5%;
    /* background-color: rosybrown; */
}

#game{
    margin-top: -3%;
    float: left;
    width: 85%;
    margin-left: -2.5%;
    /* background-color: rgb(143, 159, 188);
    opacity: 50%; */
}

#rps{
    color:rgb(211, 205, 153);
    font-size: 81px;
}

div{
    margin: 8%;
    text-align: center;
}

p{
    text-align: center;
    margin-top: -5%;
    margin-bottom: -5%;
    font-size: 27px;
    letter-spacing: -0.5px;
    color: rgb(218, 222, 255);
    text-shadow: 0 0 4px rgb(218, 222, 255), 0 0 8px rgb(224, 227, 250);
    font-family: display;
}

span{
    margin-left: 3%;
    font-size: 70px;
    display: inline-block;
    width: 0px;
    font-variant-numeric: tabular-nums;
    vertical-align:35%;
    color: rgb(153, 211, 206);
    text-shadow: 0 0 7px rgb(153, 211, 194), 0 0 12px rgb(169, 218, 203);
    letter-spacing: 1px;
    font-family: myFirstFont;
}

h1{
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 202, 233);
    text-shadow: 0 0 8px rgb(255, 190, 228), 0 0 12px rgb(255, 202, 233);
    font-family: myFirstFont;
    font-weight: 100;
    font-size: 47px;
    
}

#comptext{
    margin-top: 6%;
    margin-bottom: -6%;
}

#playtext{
    margin-top: -5.5%;
    margin-bottom: 6%;
}

button{
    height: 110px;
    width: 85px;
    margin: 5px;
    background-size: 100%;
    border: white 0.5px inset;
    box-shadow: 0px 0px 5px white;
    border-radius: 5px;
}

.playButton:hover{
    border: white 2px inset;
    
}

button:focus{
    outline: none;
}

#playRock, #compRock{
    background-image: url(images/rock.jpg);
}

#playPaper, #compPaper{
    background-image: url(images/paper.jpg);
}

#playScissor, #compScissor{
    background-image: url(images/scissor.jpg);
}

#playAgain{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    background-color:#252424;
    color: rgb(255, 202, 233);
    font-family: display;
    font-size: 14px;
    letter-spacing: -0.2px;
    text-shadow: 0 0 5px rgb(255, 202, 233);
}

#playAgain:hover{
    border: white 2px inset;
}